<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES / Contato</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <!-- Cabeçalho -->
    <div class = "topo">
        <img src="static\imagens\logo.png" alt="Logo">

        <span class = "link">
            <a href="/index">Home</a>
            |
            <a href="/quem_somos">Quem Somos</a>
            |
            <a href="/contato">Contato</a>
        </span>
    </div><br>

    <!-- Texto -->
    <div>
        <p>
            <h1>Entre em contato</h1>
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <hr>
        Seu e-mail: <br>
        <label for=""></label>
        <input type="text">
        <br><br>

        Assunto: <br>
        <label for=""></label>
        <input type="text">
        <br><br>
        
        Descrição: <br>
        <label for=""></label>
        <input type="text">
        <br><br>

        <input type="submit" value="Enviar">
    </div>

        <!-- Rodapé -->
        <div class="rodape">
        <h4>Todos os direitos reservados</h4>
    </div>
</body>
</html>
